<app-page-header>
  <h1>Tasks</h1>
  <div class="page-header-right">
    <button *appUserPermission="canRegisterEndpoint" mat-icon-button [routerLink]="'/endpoints/new/'">
      <img src="/assets/CREATE2.png">
    </button>
    <button *appUserPermission="canRegisterEndpoint" mat-icon-button [routerLink]="'/endpoints/delete/'">
      <img src="/assets/DELETE2.png">
    </button>
    <button *appUserPermission="canRegisterEndpoint" mat-icon-button [routerLink]="'/endpoints/update/'">
      <img src="/assets/UPDATE2.png">
    </button>
  </div>
</app-page-header>
<app-endpoints-missing></app-endpoints-missing>
<app-list *ngIf="(endpointsService.haveRegistered$ | async)"></app-list>