.limiter{
  padding: 0%;
  display: flex;
  width: auto;
  height: auto;
  &[hidden] {
    display: none;
  }
}
.refresh{
  padding-left: 0px;
}
.wrap-table100
{
  padding-top: 50px;
  margin: auto auto;
  width: 80%;
  height: 100%;
}
.container-table100
{
  padding: 0%;
  height: 430px;
}

.table100.ver1.m-b-110 
{
  margin: auto auto;
  width: 80%;
  height: 530px;
}

.table100-head 
{
  margin: 0px auto;
  width: 100%;
  height: 500px;
}
.table100-body{
  height: 480px;
}

.dashboard__inner{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

button.one{
  color: DarkBlue}
button.one:hover{
  color: #2196f3}